@using ZhouyiStoreEditor.Pages.Editors;

<div>
    <h2>Editor</h2>
    <TitleAndTagsEditor Store="@Store" />
    <TrigramEditor Store="@Store" />
    <HexagramEditor Store="@Store" />
    <TheRestOfYizhuanEditor Store="@Store" />
</div>

@inject ILogger<EditorMain> Logger

@code
{
    [Parameter]
    public ZhouyiStore Store { get; set; }

    protected override void OnParametersSet()
    {
        Logger.LogWarning($"HERE: {Store.Title}");
    }
}